@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
:root{
	--tooltip-width: 300px;
	--fs-text: 1.2rem;
	--fs-text-sm: 0.7rem;
	--fs-title: clamp(2rem, 5vw, 40pt);
	--w-sm: 100%;
	--w: 50%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body{
	/* background-image: radial-gradient(circle at 11.29% 77.11%, #3e7984  0, #000212 50%, #000000 100%); */
	background-color: #110F17;
	min-height: 100vh;
	color: white;
	animation: 2s ease-in-out 0.5s;
	display: flex;
	justify-content: space-between;
}
.profile__side{
	flex: 1;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	width: 200px;
	max-width: 250px;
	min-height: 100vh;
	background-color: #05030d;
	border-right: 2px solid rgb(17, 148, 133);
	animation: border-pulse 1s infinite alternate forwards;
	/* border-radius: 0 30px 0 0; */
}
.profile__container{
	position: sticky;
	top: 5vh;
}
.profile-img img{
	width: 100px;
	height: 100px;
	margin: 10px 0 30px 0;
	border-radius: 50%;
}
.social{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin: clamp(10px, 15px, 20px);
}
.social__item{
	width: 100%;
}
.social__item img{
	width: 32px;
	height: 32px;
}

.social_network{
	display: block;
	width: 100%;
	padding: 5px 10px;
	font-variant: all-small-caps;
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: white;
}
.github{
	background-color: #24292e;
}
.linkedin{
	background-color: #0077b5;
}
.twitter{
	background-color: #1da1f2;
}
.instagram{
	background-color: #e1306c;
}
.facebook{
	background-color: #3b5998;
}
.container {
	flex: 3;
	min-height: 400px;
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 clamp(15px, 5vw, 30px);
}
section:nth-child(even){
	padding-block: 3.5rem;
}

#welcome{
	margin-top: 6rem;
}
#welcome .own h1{
	font-size: var(--fs-text);
	font-weight: bolder;
	margin: 10px 0;
}
.bd-left-green{
	border-left:4px solid #09bd72;
	padding: 5px;
	font-style: italic;
	font-weight: lighter;
	font-size: var(--fs-text-sm);
	text-align: right;
}
#welcome .slogan{
	position: relative;
	min-height: 300px;
	display: flex;
	align-items: flex-start;
}
#welcome .slogan .bg-img{
	position: absolute;
	top: 0;
	right: 20px;
	min-height: 400px;
	background-image: url('../assets/images/figure.png');
	background-repeat: no-repeat;
	background-position: right;
	filter: brightness(60%) sepia(50%);
	z-index: -1;
	width: 100%;
	height: 100%;
}
#welcome .slogan .title{
	justify-self: center;
	text-align: center;
	width: 100%;
	margin: 20px 0;
}
#welcome .slogan .title h1{
	font-size: var(--fs-title);
	font-weight: bolder;
	margin: 10px 0;
	word-break: break-word;
}
#welcome .slogan .title h1::after{
	content: "|";
	opacity: 0.5;
	animation: op 1s infinite alternate;
}
#welcome .slogan .gotoPortfolio a{
	background-color: #641392;
	display: inline-block;
	margin: 30px 0;
	padding: 15px 30px;
	border-radius:8px;
	color: white;
	font-weight: bold;
	appearance: none;
	text-decoration: none;
	
}
#welcome .slogan .gotoPortfolio a:hover{
	display: inline-block;
	margin: 30px 0;
	padding: 15px 30px;
	border: none;
	box-shadow: 1px 3px 14px 4px #250450;
	border-radius:8px;
	color: white;
	font-weight: bold;
	appearance: none;
	text-decoration: none;
	transition: ease-in 0.3s;
}
#skills h1, #portfolio h1, #contact h1{
	font-size: 2rem;
	font-weight: bolder;
	margin: 10px 0;
}
#skills div{
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
#skills .badges{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 1px rgba(10, 207, 168, 0.309);
	margin: 5px 0;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
#skills .badges:hover{
	box-shadow: inset 0px 0px 0px 1px rgba(10, 207, 168, 1);
}
#skills .badges img{
	width: 50px;
	height: 50px;
	padding: 10px;
}
#skills .badges .info-badge{
	display: none;
	padding: 10px;
	font-weight: 500;
	overflow: hidden;
	position: absolute;
	bottom: 100%;
	left: 0;
	background-color: white;
	border-radius: 5px;
	width: var(--tooltip-width);
	min-height: 100px;
	border: none;
	color: black;
	z-index: 1;
}
#skills .badges:hover  .info-badge{
	display: block;
}
#portfolio{
	margin-bottom: 10vh;
}
#portfolio .name_section{
	margin-top:  20px;
}
#portfolio .projects{
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
#portfolio .projects .project_label{
	padding: 5px;
	background: #473cc283;
	border-radius: 2px;
	font-weight: 400;
	font-size: 0.7rem;
	cursor: pointer;
}
#portfolio .slide{
	width: 100%;
	height: 100%;
	display: none;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	opacity: 0;
	transition: opacity 2s;

}
#portfolio .slide.active{
	margin-top: 20px;
	display: flex;
	opacity: 1;
	animation: opacity 1s;
}
#portfolio .slide .image{
	width: 50%;
	height: 100%;
	max-width: 900px;
}
#portfolio .slide .image img{
	width: 100%; 
	max-height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 8px;
	
}	
#portfolio .slide .resume{
	width: 50%; 
  height: 100%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
#portfolio .slide .resume h1{
	text-align: center;
	font-size: var(--fs-title);
}
#portfolio .slide .resume p{
	text-align: justify;
	font-size: var(--fs-text);
}

.rounded-8{
	border-radius: 8px;
}
.cover{
	width: 100%;
	height: 100%;
}
.text{
	font-size: var(--fs-text);
}
.center{
	text-align: center;
}
@keyframes opacity{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@keyframes border-pulse {
	0% { border-style: rgb(10, 255, 145); }
	20% { border-style: rgb(15, 131, 71); }	
	40% { border-style: rgb(5, 229, 237); }	
	60% { border-style: rgb(7, 65, 75); }	
	80% { border-color: rgb(104, 10, 255);}
	100% { border-color:rgb(224, 235, 10);}
}

@keyframes op {
	0%, 100%{
		opacity: 1;
	}
	50%{
		opacity: 0.2;
	}
}
@media screen and (max-width: 360px) {	
	.profile-info span{
		font-size: 0.5rem;
	}
	#skills .badges{
		width: 40px;
		height: 40px;
	}
	#skills .badges img{
		width: 40px;
		height: 40px;
	}
}
@media screen and (min-width: 1px) and (max-width: 520px) {
	.profile-img img{
		width: 40px;
		height: 40px;
		margin: 10px 0 30px 0;
		border-radius: 50%;
	}
	.social__item .social_network{
		display: none;
	}
	.social__item img{
		display: block;
	}
	#portfolio .slide .resume p{
		font-size: 0.7rem;
	}
}
@media screen and (min-width: 360px) and (max-width: 520px) {
	
	#skills div{
		gap: 2%;
	}
	#skills .badges{
		width: 32%;
	}
	
}
@media screen and (min-width: 520px) and (max-width: 778px){
	#portfolio .slide{
		flex-direction: column;
		justify-content: center;
	}
	#portfolio  .slide .resume p{
		font-size: 1rem;
	}
}

@media screen and (min-width: 520px) {
	.social__item img{
		display: none;
	}
}
@media screen and (max-width: 778px) {
	#portfolio .slide .image{
		width: 100%;
	}
	#portfolio .slide .resume{
		width: 100%;
	}	
}