@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
:root{
	--tooltip-width: 300px;
	--fs-text: 1.2rem;
	--fs-title: 3.6rem;
	--w-sm: 100%;
	--w: 50%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body{
	background-image: radial-gradient(circle at 11.29% 77.11%, #3e7984  0, #000212 50%, #000000 100%);
	min-height: 100vh;
	color: white;
	animation: 2s ease-in-out 0.5s;
}
.container {
	min-height: 400px;
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 clamp(15px, 5vw, 30px);
}
section:nth-child(even){
	padding-block: 5.5rem;
}

#welcome{
	margin-top: 6rem;
}
#welcome .own h1{
	font-size: var(--fs-text);
	font-weight: bolder;
	margin: 10px 0;
}
#welcome .own span{
	border-left:4px solid #09bd72;
	padding: 5px;
	font-style: italic;
	font-weight: lighter;
	font-size: var(--fs-text);
	text-align: right;
}
#welcome .slogan{
	position: relative;
	min-height: 400px;
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
}
#welcome .slogan .bg-img{
	position: absolute;
	top: 0;
	right: 20px;
	min-height: 400px;
	background-image: url('../assets/images/figure.png');
	background-repeat: no-repeat;
	background-position: right;
	filter: brightness(60%) sepia(50%);
	z-index: -1;
	width: 100%;
	height: 100%;
}
#welcome .slogan .title{
	text-align: left;
	max-width: 65%;
	margin: 20px 0;
}
#welcome .slogan .title h1{
	font-size: var(--fs-title);
	font-weight: bolder;
	margin: 10px 0;
	word-break: break-word;
}
#welcome .slogan .gotoPortfolio a{
	background:linear-gradient(to right, #225d9b78 5%, #13a499 100%);
	display: inline-block;
	margin: 30px 0;
	padding: 15px 30px;
	border-radius:8px;
	color: white;
	font-weight: bold;
	appearance: none;
	text-decoration: none;
	
}
#welcome .slogan .gotoPortfolio a:hover{
	display: inline-block;
	margin: 30px 0;
	padding: 15px 30px;
	border: none;
	box-shadow: 1px 3px 14px 4px #09924d;
	border-radius:8px;
	color: white;
	font-weight: bold;
	appearance: none;
	text-decoration: none;
	transition: ease-in 0.3s;
}
#skills h1, #portfolio h1, #contact h1{
	font-size: 2rem;
	font-weight: bolder;
	margin: 10px 0;
}
#skills div{
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
#skills .badges{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 1px rgba(10, 207, 168, 0.309);
	margin: 5px 0;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
#skills .badges img{
	width: 50px;
	height: 50px;
	padding: 10px;
}
#skills .badges .info-badge{
	display: none;
	padding: 10px;
	font-weight: 500;
	overflow: hidden;
	position: absolute;
	bottom: 100%;
	left: 0;
	background-color: white;
	border-radius: 5px;
	width: var(--tooltip-width);
	min-height: 100px;
	border: none;
	color: black;
	z-index: 1;
}
#skills .badges:hover  .info-badge{
	display: block;
}
#portfolio{
	margin-bottom: 10vh;
}
#portfolio .name_section{
	margin-top:  20px;
}
#portfolio .carousel{
	width: 100%;
	position: relative;
	margin-top: 5rem;
	overflow: visible;
}
#portfolio .carousel .slide{
	width: 100%;
	height: fit-content;
	display: none;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	opacity: 0;
}
#portfolio .carousel .slide.active{
	display: flex;
	transition: opacity 0.5s;
	opacity: 1;
}
#portfolio .carousel .slide .image img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 8px;
}	
#portfolio .carousel .slide .resume{
	width: var(--w);
	display: flex;
	flex-direction: column;
	gap: 20px;
}
#portfolio .carousel .slide .resume h1{
	text-align: center;
	font-size: var(--fs-title);
}
#portfolio .carousel .slide .resume p{
	text-align: justify;
	font-size: var(--fs-text);
}

#prev-button, #next-button{
	position: absolute;
	border: none;
	border-radius: 5px;
	background-color: #252525;
	color: white;
	font-size: clamp(0.2rem, 1rem, 1.2rem);
	padding: 10px;
	cursor: pointer;
	z-index: 10;
	width: clamp(80px, 3vw,130px);
}
#prev-button{	
	top: 0;
	right: 130px;
	transform: translateY(-50%);
	font-size: 2rem;
}
#next-button{
	top: 0;
	right: 0;
	transform: translateY(-50%);
	font-size: 2rem;
	
}
@keyframes opacity{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@media screen and (max-width: 520px) {
	:root{
		--tooltip-width: 200px;
		--fs-text: 0.8rem;
		--fs-title: 2rem;
	}
	#welcome .slogan .title{
		text-align: center;
	}
	#welcome .slogan{
		justify-content: center;
	}
	#skills div{
		gap:0;
	}
	#skills .badges{
		width: 33.3%;
	}
}
@media screen and (max-width: 778px){
	:root{
		--fs-text: 1rem;
		--fs-title: 2.5rem;
	}
	#portfolio .carousel .slide{
		flex-direction: column;
		justify-content: center;
	}
	#portfolio .carousel #prev-button{
		left: 5px;
	}
	#portfolio .carousel #next-button{
		right: 5px;
	}
	#portfolio .carousel #prev-button,
	#portfolio .carousel #next-button{
		top: 55%;
		transform: translateY(-55%);
	}
	#portfolio .carousel .slide .resume{
		width: var(--w-sm);
	}
}

@media screen and (min-width: 300px) and (max-width: 996px) {
	#welcome .slogan .title{
		max-width: 80%;
	}
}